{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "bracketSameLine": true,
  "importOrder": [
    "^node:(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@fontjam/(.*)$",
    "^@shared/(.*)$",
    "^~/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "topLevelAwait",
    "importAssertions",
    "explicitResourceManagement"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
